In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
train = pd.read_csv("bank train.csv")
test  = pd.read_csv("bank test.csv")

In [3]:
train.head()

,ID,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
0,NNVBBKZB,Female,73,RG268,Other,X3,43,No,1045696,No,0
1,IDD62UNG,Female,30,RG277,Salaried,X1,32,No,581988,No,0
2,HD3DSEMC,Female,56,RG268,Self_Employed,X3,26,No,1484315,Yes,0
3,BF3NC7KV,Male,34,RG270,Salaried,X1,19,No,470454,No,0
4,TEASRWXV,Female,30,RG282,Salaried,X1,33,No,886787,No,0

In [4]:
train.isnull().sum()/test.shape[0]*100

ID                      0.00000
Gender                  0.00000
Age                     0.00000
Region_Code             0.00000
Occupation              0.00000
Channel_Code            0.00000
Vintage                 0.00000
Credit_Product         27.84583
Avg_Account_Balance     0.00000
Is_Active               0.00000
Is_Lead                 0.00000
dtype: float64

In [5]:
test.isnull().sum()/test.shape[0]*100

ID                      0.000000
Gender                  0.000000
Age                     0.000000
Region_Code             0.000000
Occupation              0.000000
Channel_Code            0.000000
Vintage                 0.000000
Credit_Product         11.890383
Avg_Account_Balance     0.000000
Is_Active               0.000000
dtype: float64

In [6]:
train.dropna(inplace= True)

In [7]:
train.shape

(216400, 11)

In [8]:
test.shape

(105312, 10)

In [9]:
train = pd.get_dummies(train,columns = ["Occupation","Channel_Code","Region_Code"],drop_first = True)
test = pd.get_dummies(test,columns = ["Occupation","Channel_Code","Region_Code"],drop_first = True)

In [10]:
test["Credit_Product"]=test["Credit_Product"].fillna(test["Credit_Product"].mode()[0])

In [11]:
train.head()

,ID,Gender,Age,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead,Occupation_Other,Occupation_Salaried,...,Region_Code_RG275,Region_Code_RG276,Region_Code_RG277,Region_Code_RG278,Region_Code_RG279,Region_Code_RG280,Region_Code_RG281,Region_Code_RG282,Region_Code_RG283,Region_Code_RG284
0,NNVBBKZB,Female,73,43,No,1045696,No,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,IDD62UNG,Female,30,32,No,581988,No,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,HD3DSEMC,Female,56,26,No,1484315,Yes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BF3NC7KV,Male,34,19,No,470454,No,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,TEASRWXV,Female,30,33,No,886787,No,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [12]:
from sklearn.preprocessing import LabelEncoder
  
le = LabelEncoder()
  
train['Gender']= le.fit_transform(train['Gender'])
train['Credit_Product']= le.fit_transform(train['Credit_Product'])
train['Is_Active']= le.fit_transform(train['Is_Active'])


  
test['Gender']= le.fit_transform(test['Gender'])
test['Credit_Product']= le.fit_transform(test['Credit_Product'])
test['Is_Active']= le.fit_transform(test['Is_Active'])

In [13]:
train.head()

,ID,Gender,Age,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead,Occupation_Other,Occupation_Salaried,...,Region_Code_RG275,Region_Code_RG276,Region_Code_RG277,Region_Code_RG278,Region_Code_RG279,Region_Code_RG280,Region_Code_RG281,Region_Code_RG282,Region_Code_RG283,Region_Code_RG284
0,NNVBBKZB,0,73,43,0,1045696,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,IDD62UNG,0,30,32,0,581988,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,HD3DSEMC,0,56,26,0,1484315,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BF3NC7KV,1,34,19,0,470454,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,TEASRWXV,0,30,33,0,886787,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [14]:
x = train.drop(["ID","Is_Lead"],axis = 1)
y = train['Is_Lead']
test = test.select_dtypes(exclude='object')

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
# 20% data as valida

x_train,x_valid,y_train,y_valid = train_test_split(x,y,train_size=0.8,random_state=22)

In [48]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [29]:
model = tree.DecisionTreeClassifier(max_depth = 3)

In [30]:
model.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=3)

In [31]:
from sklearn.model_selection import GridSearchCV

In [32]:
dict = {'max_depth': [2,3,4]}

In [49]:
rf_clf = RandomForestClassifier(n_estimators = 1000,max_features = 11,max_leaf_nodes = 19, n_jobs = -1, random_state = 6)   
#from this model you'll train the final model
rf_clf.fit(x_train,y_train)

RandomForestClassifier(max_features=11, max_leaf_nodes=19, n_estimators=1000,
                       n_jobs=-1, random_state=6)

In [50]:
y_pred = model.predict(x_valid)
y_predict = rf_clf.predict(x_valid)

In [51]:
from sklearn.metrics import confusion_matrix

In [52]:
confusion_matrix(y_predict,y_valid)

array([[36650,  6178],
       [    5,   447]], dtype=int64)

In [36]:
from sklearn import metrics
MSE= metrics.mean_squared_error(y_valid,y_predict)
from math import sqrt
rmse = sqrt(MSE)
print("Root Mean Squared Error:",rmse)

Root Mean Squared Error: 0.377968839486697

In [37]:
submission = pd.read_csv("sample_submission_eyYijxG.csv")
final_predictions = model.predict(test)
submission['Is_Lead'] = final_predictions
#nly positive predictions for the target variable
submission['Is_Lead'] = submission['Is_Lead'].apply(lambda x: 0 if x<0 else x)
submission.to_csv('dt.csv', index=False)